/* work sans font from google fonts */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
  *{
    font-family: 'Work Sans', sans-serif;
  }
/* nav styles start here */

    nav{
        background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.nav-title{
    display: flex;
    gap: 10px;
}
.nav-item{
    display: flex;
    justify-content: space-between;
}
.nav-item a{
    text-decoration: none;
    text-align: center;

}
.banner-section{
    
    background: #FFF;
    display: flex;
    
}
