/* work sans font from google fonts */

  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
  *{
    font-family: 'Work Sans', sans-serif;
  }
/* nav styles start here */
*{
    box-sizing: border-box;
}
.nav-container{
    width: 100%;
    display: flex;
    padding:10px 150px;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 130px;
    align-items: center;
}

.logo-container{
    width: 50%;
    padding: 10px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.span-g{
    color: #FF42A5;
}
.logo-container p{
    font-size: 45px;
}
.logo-container img{
    width: 86px;
}
.nav-item-container{
    display: flex;
    gap: 20px;

}
.nav-item-container a{
    color: #3C354F;
    font-size: 1.125rem;
    text-decoration: none;
}
/* banner-section */
.banner-section{
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    display: flex;
    justify-content: space-between;
}
.section-title{
    color: #0B0223;
text-align: center;
font-size: 3rem;
line-height: normal;
text-transform: uppercase;
}
.section-title-2{
    margin-top:auto;
font-size: 6rem;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.features-paragarph{
    color: #534C64;
text-align: center;
font-size: 1.25rem;
text-transform: lowercase;
}
.btn-1{
    color: #FFF;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-2{
    color: #FFF;
    display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #4EC5F7;
}
/* gamer section styles start here */
.gamer-section{
    display: flex;
    align-items: center;
}
.gamer-title{
    text-align: right;
    font-size: 3rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gamer-para{
    width: 520px;
    color: #534C64;
    text-align: right;
    font-size: 1.125rem;
    line-height: 30px; /* 166.667% */
}
.btn-3{
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
padding: 21px 40px;
color: #FFFFFF;
gap: 10px;
}
.gamer-para-2{
    width: 520px;
    color: #534C64;
text-align: right;
font-size: 1.5rem;
line-height: 45px; /* 187.5% */
}
/* onlie games section start here */
.online-title{
    text-align: center;
    color: #0B0223;
font-size: 3rem;
}
.online-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}
.online-para{
color: #534C64;
text-align: center;
font-size: 1.125rem;
line-height: 30px; /* 166.667% */
}
.online-img{
    width: 342px;
    height: 400px;
    gap: 24px;
    display: flex;
    border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    
}
/* play instant section style */
.play-instant-features{
    padding-left: 30px;
    margin-top: 150px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
}
.play-instant-title{

    text-align: right;
    font-size: 3rem;
    line-height: 60px; /* 125% */
}
.play-instant-para{
    color: #534C64;
    text-align: right;
    font: size 1.125rem;
    line-height: 30px; /* 166.667% */
}
.play-instant-img{
    border-radius: 8px;
    position: relative;
    bottom: 250px;
    right: 150px; 
}
/* careers section styles */
.careers-section{
    width: 100%;
height: 821px;
display: flex;
justify-content: space-between;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}
.careers-point{
    display: flex;
    justify-content: space-between;
}
.careers-item{
    display: flex;
    text-align: start;
}
.careers-item-1{
    display: flex;
    text-align: end;
}

/* icon section styles */
.icon-container{
display: flex;


}
